---
import { Image } from 'astro:assets';
import image from "../images/1_haSFzJsfJdWbAHHd02pn_Q.png"
import Layout from "../layouts/Main.astro"
---

<Layout title="Home">
	<a href="/about">About</a>
	<Image src={image} alt="Astro here"/>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, eveniet accusantium sequi nam neque ad laborum atque ullam labore pariatur! Nostrum, enim quos! Et maxime, velit eos minima quas molestiae.</p>
</Layout>
